.layout-header-aside__body {
  position: absolute;
}
.layout-header-aside__header {
  position: absolute;
  top: 0;
  right: 0;
}
.layout-header-aside__aside {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #F1F3F4;
}
