// normalize
@import 'd2-projects/d2-normalize/index.css';

// themes
@import './themes/classic/config.css';

// layouts
@import './layouts/header-aside.scss';

html, body, #app {
  height: 100%;
  width: 100%;
  position: relative;
}
