.d2-layout-header-aside {
  &__header {
    position: fixed;
    top: 0px;
    left: 0px;
  }
  &__aside {
    position: fixed;
    top: 0px;
    left: 0px;
  }
  &__body-scrollbar {
    height: 100%;
    width: 100%;
  }
  &__body {
    background-color: var(--color-bg-main);
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 10px;
    padding-right: 10px;
  }
}
