$classname: '#{$namespace}-layout-header-aside';

@function --key ($name) {
  @return --d2-admin-layout-header-aside-#{$name};
}

@function --var ($name) {
  @return var(#{--key($name)});
}

:root {
  #{--key('font-size')}: 14px;
  #{--key('header-height')}: 46px;
}

html, body, #app {
  height: 100%;
  width: 100%;
}

body.#{$classname} {
  #app {
    position: relative;
  }
  // When the menu exceeds the screen height
  // Display it as the maximum screen height
  .ant-menu-vertical,
  .ant-menu-vertical-left,
  .ant-menu-vertical-right {
    &.ant-menu-sub {
      max-height: 100vh;
    }
  }
}

.#{$classname}__body {
  position: absolute;
  >.body__scroll {
    @apply w-full h-full;
  }
}

.#{$classname}__header {
  @apply box-content absolute top-0 right-0 border-b border-gray-200 cursor-pointer select-none;
  height: --var('header-height');
  >.header__column {
    &.header__column--border {
      @apply border-gray-200;
      &.header__column--border-right {
        @apply border-r;
      }
      &.header__column--border-left {
        @apply border-l;
      }
    }
    >.header__button {
      @apply transition-colors bg-transparent;
      font-size: --var('font-size');
      &.header__button--icon {
        min-width: --var('header-height');
      }
      &.header__button--text {
        line-height: --var('header-height');
        padding: 0 calc((#{--var('header-height')} - #{--var('font-size')}) / 2);
      }
      &:hover {
        @apply bg-gray-100;
      }
      &:active {
        @apply bg-gray-200;
      }
    }
    >.ant-menu-horizontal {
      @apply border-b-0;
      >.ant-menu-item:hover::after,
      >.ant-menu-submenu:hover::after,
      >.ant-menu-item-active::after,
      >.ant-menu-submenu-active::after,
      >.ant-menu-item-open::after,
      >.ant-menu-submenu-open::after,
      >.ant-menu-item-selected::after,
      >.ant-menu-submenu-selected::after {
        border-bottom-color: transparent;
      }
    }
  }
}

.#{$classname}__aside {
  @apply box-content absolute top-0 bottom-0 left-0 bg-gray-100 border-r border-gray-200 cursor-pointer select-none;
  >.aside__header {
    @apply box-content bg-white border-b border-gray-200;
    min-height: --var('header-height');
  }
  >.aside__body {
    @apply bg-white;
    >.aside__scroll {
      @apply w-full h-full;
    }
    .ant-menu-inline,
    .ant-menu-vertical,
    .ant-menu-vertical-left {
      @apply border-r-0;
    }
    .ant-menu-vertical-right {
      @apply border-l-0;
    }
    .ant-menu-inline {
      .ant-menu-item,
      .ant-menu-submenu-title {
        width: 100%;
      }
    }
    .ant-menu-vertical,
    .ant-menu-vertical-left,
    .ant-menu-vertical-right,
    .ant-menu-inline {
      .ant-menu-item::after {
        border-right-color: transparent;
      }
    }
  }
  >.aside__footer {
    @apply box-content bg-white border-t border-gray-200;
    min-height: --var('header-height');
  }
}
