$classname: '#{$namespace}-layout-header-aside';

@function --key ($name) {
  @return --d2-admin-layout-header-aside-#{$name};
}

@function --var ($name) {
  @return var(#{--key($name)});
}

:root {
  #{--key('header-height')}: 46px;
  #{--key('header-button-font-size')}: 14px;
  #{--key('header-button-height')}: --var('header-height');
  #{--key('header-button-line-height')}: --var('header-height');
  #{--key('header-button-min-width')}: --var('header-height');
  #{--key('header-button-padding-x')}: calc((#{--var('header-height')} - #{--var('header-button-font-size')}) / 2);
}

.#{$classname}__body {
  @apply absolute;
  >.body__scroll {
    @apply w-full h-full cursor-pointer select-none;
  }
}
.#{$classname}__header {
  @apply box-content absolute top-0 right-0 border-b border-gray-200;
  height: --var('header-height');
  >.header__column {
    &.header__column--border {
      @apply border-gray-200;
      &.header__column--border-right {
        @apply border-r;
      }
      &.header__column--border-left {
        @apply border-l;
      }
    }
    >.header__button {
      @apply text-center transition-colors bg-transparent;
      font-size: --var('header-button-font-size');
      height: --var('header-button-height');
      line-height: --var('header-button-line-height');
      min-width: --var('header-button-min-width');
      padding: 0 --var('header-button-padding-x');
      &:hover {
        @apply bg-gray-100;
      }
      &:active {
        @apply bg-gray-200;
      }
    }
    >.ant-menu-horizontal {
      @apply border-b-0;
    }
  }
}
.#{$classname}__aside {
  @apply absolute top-0 bottom-0 left-0 bg-gray-100;
  .aside__scroll {
    @apply w-full h-full cursor-pointer select-none;
  }
}
