html, body, #app {
  height: 100%;
  width: 100%;
}

@include inLayoutDashboard {
  #app {
    position: relative;
    background-color: --var('color-bg-app');
  }

  .layout__body {
    position: absolute;
    background-color: --var('color-bg-content');
    top: --var('header-height');
    left: --var('side-width');
    right: 0px;
    bottom: 0px;
    >.body__scroll {
      @apply w-full h-full;
    }
  }
  
  .layout__header {
    @apply cursor-pointer select-none;
    position: absolute;
    top: 0px;
    left: --var('side-width');
    right: 0px;
    height: --var('header-height');
    >.header__button-group {
      padding: 0 calc(#{--var('item-margin-x')} / 2);
      >.header__button {
        @apply transition-colors bg-transparent;
        font-size: --var('item-font-size');
        height: --var('item-line-height');
        margin: --var('item-margin-y') calc(#{--var('item-margin-x')} / 2);
        border-radius: --var('item-radius');
        line-height: --var('item-line-height');
        >.is-square {
          height: --var('item-line-height');
          width: --var('item-line-height');
        }
        &.header__button--icon {
          min-width: --var('item-line-height');
        }
        &.header__button--padding-text {
          padding: 0 calc((#{--var('item-line-height')} - #{--var('item-font-size')}) / 2);
        }
        &.header__button--padding-text-left {
          padding-left: calc((#{--var('item-line-height')} - #{--var('item-font-size')}) / 2);
        }
        &.header__button--padding-text-right {
          padding-right: calc((#{--var('item-line-height')} - #{--var('item-font-size')}) / 2);
        }
        &.header__button--text-left {
          padding-left: calc((#{--var('item-line-height')} - #{--var('item-font-size')}) / 2);
        }
        &:hover {
          background-color: --var('color-bg-item-hover');
        }
        &:active {
          background-color: --var('color-bg-item-selected');
          color: --var('color-text-item-selected');
        }
      }
    }
  }
  
  .layout__side {
    @apply cursor-pointer select-none;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: --var('side-width');
    >.side__header {
      min-height: --var('header-height');
    }
    >.side__body {
      height: 0; // for safari
      >.side__scroll {
        @apply w-full h-full;
      }
    }
    >.side__footer {
      min-height: --var('header-height');
      padding: calc((#{--var('item-line-height')} - #{--var('item-font-size')}) / 2);
    }
  }
}
