html, body, #app {
  height: 100%;
  width: 100%;
}

@include inLayoutDashboard {
  #app {
    position: relative;
    background-color: --var('color-bg-app');
  }

  .layout__body {
    position: absolute;
    background-color: --var('color-bg-content');
    >.body__scroll {
      @apply w-full h-full;
    }
  }
  
  .layout__header {
    @apply box-content absolute top-0 right-0 cursor-pointer select-none;
    height: --var('header-height');
    >.header__button-group {
      padding: 0 calc(#{--var('header-button-margin-x')} / 2);
      >.header__button {
        @apply transition-colors bg-transparent;
        font-size: --var('font-size');
        height: --var('header-button-line-height');
        margin: --var('header-button-margin-y') calc(#{--var('header-button-margin-x')} / 2);
        border-radius: --var('header-button-radius');
        &.header__button--icon {
          min-width: --var('header-button-line-height');
        }
        &.header__button--text {
          line-height: --var('header-button-line-height');
          padding: 0 calc((#{--var('header-button-line-height')} - #{--var('font-size')}) / 2);
        }
        &:hover {
          background-color: --var('color-bg-item-hover');
        }
        &:active {
          background-color: --var('color-bg-item-selected');
          color: --var('color-text-item-selected');
        }
      }
    }
  }
  
  .layout__side {
    @apply box-content absolute top-0 bottom-0 left-0 cursor-pointer select-none;
    >.side__header {
      @apply box-content;
      min-height: --var('side-header-height');
    }
    >.side__body {
      >.side__scroll {
        @apply w-full h-full;
      }
    }
    >.side__footer {
      @apply box-content;
      min-height: --var('side-footer-height');
    }
  }
}
