html, body, #app {
  height: 100%;
  width: 100%;
}

@include inLayoutDashboard {
  #app {
    position: relative;
    background-color: --var('color-bg-app');
  }

  .layout__side {
    @apply cursor-pointer select-none;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: --var('side-width');
    >.side__scroll {
      @apply w-full h-full;
      >.os-scrollbar-vertical {
        top: --var('logo-height');
        bottom: --var('footer-height');
      }
      .side__container {
        padding-top: calc(#{--var('logo-height')} + #{--var('logo-border-width')});
        padding-bottom: calc(#{--var('footer-height')} + #{--var('footer-border-width')});
      }
    }
  }

  .layout__body {
    position: absolute;
    top: 0px;
    left: --var('side-width');
    right: 0px;
    bottom: 0px;
    >.body__scroll {
      @apply w-full h-full;
    }
  }

  .layout__header-background,
  .layout__header {
    position: absolute;
    height: --var('header-height');
    top: 0px;
    left: 0px;
    right: 0px;
  }

  .layout__header-background {
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
  
  .layout__header {
    @apply cursor-pointer select-none;
    left: --var('side-width');
    >.header__button-group {
      padding: 0 calc(#{--var('item-margin-x')} / 2);
      >.header__button {
        @apply transition-colors bg-transparent;
        font-size: --var('item-font-size');
        height: --var('item-line-height');
        margin: --var('item-margin-y') calc(#{--var('item-margin-x')} / 2);
        border-radius: --var('item-radius');
        line-height: --var('item-line-height');
        >.is-square {
          height: --var('item-line-height');
          width: --var('item-line-height');
        }
        &.header__button--icon {
          min-width: --var('item-line-height');
        }
        &.header__button--padding-text {
          padding: 0 calc((#{--var('item-line-height')} - #{--var('item-font-size')}) / 2);
        }
        &.header__button--padding-text-left {
          padding-left: calc((#{--var('item-line-height')} - #{--var('item-font-size')}) / 2);
        }
        &.header__button--padding-text-right {
          padding-right: calc((#{--var('item-line-height')} - #{--var('item-font-size')}) / 2);
        }
        &.header__button--text-left {
          padding-left: calc((#{--var('item-line-height')} - #{--var('item-font-size')}) / 2);
        }
        &:hover {
          background-color: --var('color-bg-item-hover');
        }
        &:active {
          background-color: --var('color-bg-item-selected');
          color: --var('color-text-item-selected');
        }
      }
    }
  }

  .layout__logo {
    position: absolute;
    top: 0px;
    left: 0px;
    height: --var('logo-height');
    width: --var('logo-width');
  }
  
  .layout__footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: --var('footer-height');
    width: --var('footer-width');
    box-sizing: content-box;
    border-top-style: solid;
    border-top-width: --var('footer-border-width');
  }

  .layout__blur {
    background-color: --var('color-bg-app-rgba-blur');
    backdrop-filter: blur(8px);
    border-color: --var('color-bg-app');
  }
  @-moz-document url-prefix() {
    .layout__blur {
      background-color: --var('color-bg-app-rgba-blur-moz');
    }
  }
}
