html, body, #app {
  height: 100%;
  width: 100%;
}

@include inLayoutHeaderAside {
  #app {
    position: relative;
    background-color: --var('bg-color');
  }

  .layout__body {
    position: absolute;
    background-color: --var('bg-color-lighten-max');
    >.body__scroll {
      @apply w-full h-full;
    }
  }
  
  .layout__header {
    @apply box-content absolute top-0 right-0 cursor-pointer select-none;
    height: --var('header-height');
    >.header__column {
      >.header__button {
        @apply transition-colors bg-transparent;
        font-size: --var('font-size');
        &.header__button--icon {
          min-width: --var('header-height');
        }
        &.header__button--text {
          line-height: --var('header-height');
          padding: 0 calc((#{--var('header-height')} - #{--var('font-size')}) / 2);
        }
        &:hover {
          background-color: --var('bg-color-lighten-1');
        }
        &:active {
          background-color: --var('bg-color-lighten-2');
        }
      }
    }
  }
  
  .layout__aside {
    @apply box-content absolute top-0 bottom-0 left-0 cursor-pointer select-none;
    >.aside__header {
      @apply box-content;
      min-height: --var('header-height');
    }
    >.aside__body {
      >.aside__scroll {
        @apply w-full h-full;
      }
    }
    >.aside__footer {
      @apply box-content;
      min-height: --var('header-height');
    }
  }
}
