// ------------------------------
// => helper
// ------------------------------

// clear float
@mixin clearfix {
  $selector: &;
  @at-root {
    #{$selector}::before,
    #{$selector}::after {
      display: table;
      content: '';
    }
    #{$selector}::after {
      clear: both
    }
  }
}

// turn on gpu
@mixin gpu {
  perspective: 1000px;
  backface-visibility: hidden;
  transform: translateZ(0);
}

// text
@mixin text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
