@import './components/flex.scss';
@import './components/icon.scss';

// Keep the icon component in a comfortable position in the el-menu
.el-menu {
  .el-sub-menu__title,
  .el-menu-item {
    & > .d2-icon {
      vertical-align: -0.2em;
      margin-right: 5px;
      width: 24px;
      text-align: center;
      font-size: 18px;
      color: inherit;
    }
  }
}

// Optimize the display effect of multi-level menu
// - Remove duplicate borders
// - Increase the border-radius of the popup menu
//   so that the border of the popper can be displayed completely
.el-popper {
  .el-menu--horizontal {
    border-bottom: none;
    .el-menu.el-menu--popup {
      border-radius: calc(var(--el-border-radius-small) + 1px);
    }
  }
}
